:root {
    --pixel-size: 2px;
    --grid-cell: calc( var(--pixel-size) * 16);
    --bg: #6994d3;
  }
  .pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
  @media( min-width: 700px ) {
    :root {
      --pixel-size: 3px;
    }
  }
  @media( min-width: 1000px ) {
    :root {
      --pixel-size: 4px;
    }
  }
  
  html, body {
    height: 100%;
    overflow:hidden;
  font-family: "Pixelify Sans", sans-serif;
  }
  
  body {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pixel-art {
    image-rendering: pixelated;
  }
  
  .frame {
    /* This is just for Pen decoration */
    top: -200px;
    width: calc(var(--pixel-size) * 140);
    height: calc(var(--pixel-size) * 110);
    // border: #000000 calc(3 * var(--pixel-size)) solid;
    // border-radius: 10px;
    z-index:1;
    position:relative;
  }
  
  .game-screen {
    width: calc(var(--pixel-size) * 140);
    height: calc(var(--pixel-size) * 110);
    overflow: hidden;
    background-image: url(../media/brickwall.png);
    background-size: calc(5 * var(--grid-cell));
    position:fixed;
    background-attachment: fixed;
        border: #000000 calc(3 * var(--pixel-size)) solid;
            border-radius: 10px;
  }
  
  .map {
    background-image: url("../media/skyback.gif");
    background-color: #377546ec;
    background-size: auto calc(11 * var(--grid-cell));
    width: calc(50 * var(--grid-cell));
    height: calc(55 * var(--grid-cell));
    position: relative;
    background-repeat: repeat-x;
  
  }
  
  .character {
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
    position: absolute;
    overflow:hidden;
  }
  
  .shadow {
    width: calc( var(--grid-cell)* 2 );
    height: calc( var(--grid-cell)* 2 );
    position: absolute;
    left:0;
    top:0;
    background: url("https://assets.codepen.io/21542/DemoRpgCharacterShadow.png") no-repeat no-repeat;
    background-size: 100%;
  }
  
  .character_spritesheet {
    position: absolute;
    background: url("https://assets.codepen.io/21542/DemoRpgCharacter.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc( var(--grid-cell)* 8 );
    height: calc( var(--grid-cell)* 8 );
  }
  
  .character[facing="right"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -32 );
  }
  .character[facing="up"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -64 );
  }
  .character[facing="left"] .character_spritesheet {
    background-position-y: calc( var(--pixel-size) * -96 );
  }
  .character[walking="true"] .character_spritesheet {
    animation: walkAnimation 0.6s steps(4) infinite;
  }
  
  @keyframes walkAnimation {
    from {
      transform: translate3d(0%,0%,0);
    }
    to {
      transform: translate3d(-100%,0%,0);
    }
  }
  
  
  .headline {
    position:absolute;
    top:calc(var(--pixel-size) * 2);
    right:calc(var(--pixel-size) * 2);
    width: calc(var(--pixel-size) * 75)
  }
  
  .pin-button {
    position: absolute;
    bottom:calc(var(--pixel-size) * 2);
    left:calc(var(--pixel-size) * 2);
    appearance: none;
    outline: 0;
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
  }
  .pin-button svg {
    display: block;
    width: calc(var(--pixel-size) * 22);
  }
  .pin-button:active {
    transform: translateY(var(--pixel-size))
  }
h1{
  position: absolute;
  left: calc(23 * var(--grid-cell));

}
  #house{
    position: relative;
    width: 100px;
    height: 100px;
    left: calc(20 * var(--grid-cell));
    background-color: #403f40;
  }

.platform{
  position: relative;
  height: calc(var(--pixel-size) * 10);
background-image: url('../media/brickwall.png');
}

.plat1{
    width: calc(var(--pixel-size) * 350);
    left: calc(13 * var(--grid-cell));
    top: calc(var(--pixel-size) * 60);
}
.plat2{
    width: calc(var(--pixel-size) * 60);
    left: calc(9 * var(--grid-cell));
    top: calc(var(--pixel-size) * 80);
}
.plat3{
    width: calc(var(--pixel-size) * 50);
    left: calc(6 * var(--grid-cell));
    top: calc(var(--pixel-size) * 110);
}
.three{
    left: calc(39 * var(--grid-cell));
}
.two{
    left: calc(35 * var(--grid-cell));
}
.pedistals img{
  position: absolute;
  left: calc(13 * var(--grid-cell));
  top: calc(var(--pixel-size) * 29);
  width:calc(var(--pixel-size) * 35) ;
   
}
.pedistals:hover{
  cursor: pointer;
}
.projects:nth-child(1){
  position: relative;
  left: calc(6 * var(--grid-cell))
}
.projects:nth-child(2){
  position: relative;
  left: calc(9 * var(--grid-cell))
}
.projects:nth-child(3){
  position: relative;
  left: calc(12 * var(--grid-cell))
}
.projects:nth-child(4){
  position: relative;
  left: calc(15 * var(--grid-cell))
}
.projects:nth-child(5){
  position: relative;
  left: calc(18 * var(--grid-cell))
}
.projects:nth-child(6){
  position: relative;
  left: calc(3 * var(--grid-cell))
}

.price{
  width:calc(var(--pixel-size) * 50) ;
  z-index: 3;
}
.me img{
  position: absolute;
  left: calc(23 * var(--grid-cell));
  top: calc(var(--pixel-size) * 138);
  width:calc(var(--pixel-size) * 35) ;
  z-index: -2;
   
}
.me:hover{
  cursor: pointer;
}
.me h1{
    top: calc(var(--pixel-size) * 80);
}


#popup{
  position: fixed;
  width: calc(var(--pixel-size) * 120);
  height: calc(var(--pixel-size) * 60);
  overflow: scroll;
  color: white;
  text-align: center;
  padding-top: 20px;
  display: none;
  padding: 40px;
  border-radius: 40px;
  z-index: 100;
}
#popup img{
  width: calc(var(--pixel-size) * 50) ;
  left: 10px;
  position: absolute;
  border: #000000 solid 2px;
}
#popup .socials{
position: relative;
border: none;
}
#popup #infor a{
text-decoration: none;
color: white;
}
#infor{
  position: absolute;
  top: 0px;
  left: calc(var(--pixel-size) * 70);
  width: calc(var(--pixel-size) * 60);
}
#popup button{
  margin-left: calc(var(--pixel-size) * 5);
  top: calc(var(--pixel-size) * 5);
  position: absolute;
}



/*popup toggle knop*/
#off{
  left: 0;
  border: none;
  background: none;
  color: white;
  font-size: 30px;
  &:hover{
    cursor: grab;
  }
}

.spark{
  z-index: 1;
}

#instruct{
  position: fixed;
  background-image: url('../media/wasd.png');
  background-size: contain;
  width: calc(var(--pixel-size) * 50);
  height: calc(var(--pixel-size) * 50) ;
  border-radius: 5%;
  top: -5px;
  left: 0;
  margin: 10px;
}

#screen{
  position: relative;
  z-index: 2;
   margin-top: calc(var(--pixel-size) * 125);
    width: calc(var(--pixel-size) * 140);
    height: calc(var(--pixel-size) * 80);
    overflow: hidden;
    background-image: url(../media/brickwall.png);
    background-size: calc(5 * var(--grid-cell));
    position:fixed;
    background-attachment: fixed;
        border: #000000 calc(3 * var(--pixel-size)) solid;
    border-radius: 10px;
}
.controlbut{
  position: absolute;
  width: calc(var(--pixel-size) * 50);
}
.con2{
    left: calc(var(--pixel-size) * 160);
    top: calc(var(--pixel-size) * 135);
}
.con1{
  left: calc(var(--pixel-size) * -60);
    top: calc(var(--pixel-size) * 135);
}

#covertop{
  position: absolute;
  border: #000000 solid 8px;
  width: calc(var(--pixel-size) * 280);
  height: calc(var(--pixel-size) * 130);
  left: calc(var(--pixel-size) * -70);
  top: calc(var(--pixel-size) * -10);
  z-index: -2;
  background-color: #1b1a22;
    box-shadow: inset 0px 0px 10px;
}
#coverbot{
  position: absolute;
  border: #000000 solid 8px;
  top: calc(var(--pixel-size) * 120);
  width: calc(var(--pixel-size) * 280);
  height: calc(var(--pixel-size) * 100);
  left: calc(var(--pixel-size) * -70);
  background-color: #1b1a22;
  box-shadow: inset 0px 0px 10px;
  z-index: -2;
}
.power{
  position: relative;
  top: calc(var(--pixel-size) * 214);
  left: calc(var(--pixel-size) * -40);
  display: inline-block;
  color: white;
}
.power button{
  border-radius: 100%;
  border: none;
  margin-left: calc(var(--pixel-size) * 5);
}